

body {
    font-family: 'PT Sans', sans-serif;
    line-height: 1.6;
    color: #fff; 
    background: #1A1E26; 
    font-size: 21px;
}

h1, h2, h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 120px;
    line-height: .8;
}

h2 {
    font-size: 48px;
    line-height: 1;
}

.text-center {
    text-align: center
}

.container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid red;
}

.columns {
  display: flex;
}
